<!doctype html>
<html>
<head>
    <title>Todo App</title>
    <link rel="stylesheet" href="{{ url_for('todo.static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>My Todo List</h1>
        <h2>Create new task</h2>
        <form class="todo-item" action="{{ url_for('todo.add') }}" method="POST">
            Enter todo item: 
            <input
                type="text"
                name="task">
            
            <label for="due_date">Due date: </label>
            <input type="date" id="due_date" name="due_date">

            <button class="button button-add-task" type="submit">Add</button>
        </form>

        <h2>Task list</h2>
        <ul>
            {% for todo in todos %}
                <li class="todo-item">
                    <span>
                        {% if todo.done %}
                            <s>{{ todo.task }}</s>
                        {% else %}
                            {{ todo.task }}
                        {% endif %}
                    </span>
                    <span>
                        Due: {{ todo.due_date }}
                    </span>

                    <div class="actions">
                        <form action="{{ url_for('todo.delete', id=todo.id) }}" method="POST">
                            <button class="button button-delete" type="submit">Delete</button>
                        </form>

                        <form action="{{ url_for('todo.complete', id=todo.id) }}" method="POST">
                            <button class="button {% if todo.done %}button-undo{% else %}button-complete{% endif %}" type="submit">
                                {% if todo.done %}Undo{% else %}Complete{% endif %}
                            </button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
